@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&family=Rubik&display=swap');

@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque Regular'), local('Brandon-Grotesque-Regular'),
    url('BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}
body {
    font-family: 'Open Sans', sans-serif !important;
    background: url('../background.png') right repeat-y, url('../background-r.png') left repeat-y;
    background-size: 120vh;
}

.navbar-brand{
    font-family: 'Brandon Grotesque', serif;
}

.card{
    font-family: "Brandon Grotesque", serif !important;
}

.shadowE:hover
{
    transition:all 0.3s ease;
    box-shadow:
            1px 1px #53a7ea,
            2px 2px #53a7ea,
            3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate.active {
    opacity: 1;
    transform: translateY(0);
}

.footer-final {
    min-height: 82vh;
}

.input-group > span {
    width: 7em;
}
.card-header {
    position: relative;
    text-align: center;
}
.card-header > h3{
    position: relative;
    top: 4px;
    right: 15px;
}

.texto-cronometro {
    position: absolute;
    top: 8px;
    right: 15px;
    display: flex;
    align-items: center;
}

.texto-cronometro > h3{
    position: relative;
    top: 5px;
}

.reportar {
    position: absolute;
    right: 6px;
    top: 6px;
    transition: filter 0.2s;
}
.reportar:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%)
}

.icono-categoria{
    width: 32px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    body {
        background-size: 65vh;
    }

    .footer-final {
        min-height: 81vh;
    }
}
