<main class="pt-1 container mt-2 p-4 border rounded col-md-6 footer-final bg-white">
    <div class="container mt-1 rounded p-2">
        {{#usuarioEncontrado}}
            <div class="d-flex align-items-center justify-content-center mb-2">
                <img src="{{fotoPerfil}}" alt="Imagen-de-usuario" width="150" height="150" class="rounded-circle img-fluid"/>
                <h2 class="ms-3">
                    {{nombre}} {{apellido}}
                </h2>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalQR">
                    Mostrar QR
                </button>
                <div class="modal fade" id="modalQR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{usuario}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="d-flex modal-body align-items-center justify-content-center">
                                <img src="{{qrUsuario}}" alt="">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="nombre">Nombre</span>
            <input type="text" class="form-control" aria-label="nombre" aria-describedby="nombre" disabled value="{{nombre}}">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="apellido">Apellido</span>
            <input type="text" class="form-control" aria-label="apellido" aria-describedby="apellido" disabled value="{{apellido}}">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="fecha_nac">Fecha nac.</span>
            <input type="date" class="form-control" aria-label="fecha_nac" aria-describedby="fecha_nac" disabled value="{{fecha_nac}}">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="sexo">Sexo</span>
            <input type="text" class="form-control" aria-label="pais" aria-describedby="pais" disabled value="{{sexo}}">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="usuario">Usuario</span>
            <input type="text" class="form-control" placeholder="usuario" aria-label="usuario" aria-describedby="usuario" disabled name="usuario" value="{{usuario}}">
        </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="ubicacion">Ubicación</span>
                <input type="text" class="form-control" id="locationInput" aria-label="usuario" aria-describedby="usuario" disabled name="ubicacion" value="{{pais}}, {{ciudad}}">
            </div>

            <div id="map" style="width: 100%; height: 250px;" class="mb-2 rounded"></div>

            <input type="text" id="pais" value="{{pais}}" hidden="hidden">
            <input type="text" id="ciudad" value="{{ciudad}}" hidden="hidden">

        {{/usuarioEncontrado}}

        <div class="container mt-4">
            <div class="row text-center">
                <div class="col-md-6 mb-4">
                    <h3 class="text-uppercase d-inline p-1"><span class="badge rounded-pill text-bg-dark">Últimas partidas</span></h3>
                    <ul class="list-group mt-3">
                        {{#partidas}}
                            <li class="list-group-item d-flex justify-content-between">{{fecha_partida}} <span>Puntaje: <b>{{puntaje_obtenido}}</b></span></li>
                        {{/partidas}}
                    </ul>
                    {{^partidas}} <!-- Verifica si partidasUsuario está vacío -->
                        <p>Aún no ha jugado ninguna partida.</p>
                    {{/partidas}}
                </div>
                <div class="col-md-6">
                    <h3 class="text-uppercase d-inline p-1"><span class="badge rounded-pill text-bg-dark">puntaje total: {{puntajeTotal}}</span></h3>
                    <ol class="list-group list-group-numbered mt-3">
                        {{#rankingUsuarios}}
                            <li class="list-group-item d-flex justify-content-between align-items-start {{#esUsuarioLogueado}}bg-secondary text-white{{/esUsuarioLogueado}}">
                                <div class="ms-2 me-auto">
                                    <a href="/usuario/datosUsuario?nombre={{usuario}}" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{usuario}}</a>
                                </div>
                                <span class="badge bg-success text-light rounded-pill">{{puntaje_total}}</span>
                            </li>
                        {{/rankingUsuarios}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsAPI}}&libraries=places"></script>
<script src="../public/js/mostrarDatosMapa.js"></script>