<main class="footer-final">
    <div class="container mt-5 p-4 border rounded col-md-6 bg-white">
        <h2>Ingresar</h2>

        {{#error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {{/error}}

        <form method="post" action="/usuario/procesarIngreso">
            <div class="mb-3">
                <label for="usuario" class="form-label">Nombre de Usuario:</label>
                <input type="text" class="form-control" id="usuario" name="usuario" required>
            </div>
            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="contrasena" name="contrasena" required>
            </div>

            <p><a href="/usuario/registro">¿No tenés cuenta? Registrate</a></p>
            <div class="d-flex justify-content-between align-items-center">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </form>
    </div>
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Verificación de cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                {{#modal}}
            <div class="modal-body">
                Se necesita una verificación por correo. Se ha enviado un mail a <b>{{modal}}</b>.
            </div>
                {{/modal}}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar correo</button>
            </div>
        </div>
    </div>
</div>

{{#modal}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#miModal').modal('show'); // Muestra el modal al cargar la página
    });
</script>
{{/modal}}
</main>
