<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<main class="container mt-5 rounded col-md-6 text-center bg-dark card">
    <div class="card-header bg-primary rounded d-flex align-items-center">
        <img src="../public/geografía.svg" alt="categoria">
        <h3 class="text-light mx-auto">Geografía</h3>
    </div>
    <div class="container mt-5">
        <h1 class="border rounded p-4 bg-light">¿Cuál es la capital de Francia?</h1>

        <div class="mt-5">
            <button class="btn btn-light btn-block btn-lg">París</button>
            <button class="btn btn-light btn-block btn-lg">Londres</button>
            <button class="btn btn-light btn-block btn-lg">Madrid</button>
            <button class="btn btn-light btn-block btn-lg">Berlín</button>
        </div>

        <div class="mt-3 mb-3">
            <h5 class="text-left text-light">Puntaje: 4</h5>
        </div>
    </div>
</main>
</body>
</html>
