<main class="pt-3 container mt-5 p-4 border rounded col-md-6 footer-final bg-white">
    <div class="text-center">
        <h1 class="bg-dark text-uppercase d-inline px-3 text-light">Mi perfil</h1>
    </div>
    <div class="container mt-4 rounded p-4">
        {{#usuario}}
            <div class="d-flex align-items-center justify-content-center mb-3">
                <img src="{{fotoPerfil}}" alt="Imagen-de-usuario" width="150" height="150" class="rounded-circle img-fluid"/>
                <h2 class="ms-3">
                    {{nombre}} {{apellido}}
                </h2>
            </div>

        <form method="post" action="/usuario/actualizarUsuario" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <span class="input-group-text" id="nombre">Nombre</span>
                <input required type="text" class="form-control" placeholder="Ingrese un nombre" aria-label="nombre" aria-describedby="nombre" name="nombre" value="{{nombre}}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="apellido">Apellido</span>
                <input required type="text" class="form-control" placeholder="Ingrese un apellido" aria-label="apellido" aria-describedby="apellido" name="apellido" value="{{apellido}}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="fecha_nac">Año de nacimiento</span>
                <input required type="text" class="form-control" placeholder="Ingrese un nombre" aria-label="fecha_nac" aria-describedby="fecha_nac" name="fecha_nac" value="{{fecha_nac}}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="sexo">Sexo</span>
                <select required class="form-control" id="sexo" name="sexo">
                    <option>Masculino</option>
                    <option>Femenino</option>
                    <option>Prefiero no cargarlo</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="pais">País</span>
                <input required type="text" class="form-control" placeholder="pais" aria-label="pais" aria-describedby="pais" name="pais" value="{{pais}}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="ciudad">Ciudad</span>
                <input required type="text" class="form-control" placeholder="ciudad" aria-label="ciudad" aria-describedby="ciudad" name="ciudad" value="{{ciudad}}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="ciudad">Email</span>
                <input required type="text" class="form-control" placeholder="mail" aria-label="mail" aria-describedby="mail" name="mail" value="{{mail}}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="usuario">Usuario</span>
                <input required type="text" class="form-control" placeholder="usuario" aria-label="usuario" aria-describedby="usuario" name="usuario" value="{{usuario}}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="contrasena">Contraseña</span>
                <input required type="password" class="form-control" placeholder="contrasena" aria-label="contrasena" aria-describedby="contrasena" name="contrasena" value="{{contrasena}}">
            </div>

            <div class="form-group">
                <label for="foto_perfil">Actualizar imagen de perfil:</label>
                <div class="custom-file mt-1">
                    <input type="file" class="form-control" id="foto_perfil" name="foto_perfil" accept="image/*">
                </div>
            </div>

        {{/usuario}}

            <div class="d-flex justify-content-between mt-4">
                <a href="/usuario/cerrarSesion" class="btn btn-secondary">Cerrar sesión</a>
                <button type="submit" class="btn btn-primary" >
                    Actualizar datos
                </button>
            </div>
        </form>
    </div>
</main>

