<main class="pt-3 container mt-2 p-4 border rounded col-md-6 footer-final bg-white">
    {{#usuario}}
        <h1 class="text-center mb-3 p-3">Ranking global</h1>
    {{/usuario}}

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="text-uppercase d-inline p-1 text-light" >
                <span class="badge rounded-pill text-bg-dark" id="ranking-title">Mejores jugadores por {{periodo}}</span>
            </h3>
            <div>
                <select name="periodo" class="form-select" id="periodo-select">
                    <option selected value="">Filtrar</option>
                    <option value="dia">Último día</option>
                    <option value="semana">Última semana</option>
                    <option value="mes">Último mes</option>
                    <option value="historico">Histórico</option>
                </select>
            </div>
        </div>
        <ol class="list-group list-group-numbered mt-3">
            {{#ranking}}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <a href="/usuario/datosUsuario?nombre={{usuario}}" class="link-dark link-offset-2
                        link-offset-3-hover link-underline link-underline-opacity-0
                        link-underline-opacity-75-hover">{{usuario}}
                    </div>
                    <span class="badge bg-success text-light rounded-pill">{{puntaje_total}}</span>
                </li>
            {{/ranking}}
        </ol>
    </div>
</main>
<script src="../public/js/ranking.js"></script>
