<main class="footer-final">
    <div class="container mt-5 p-4 border rounded col-md-6 bg-white">
        <h2>Registrarse</h2>

        {{#error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {{/error}}

        <form method="post" action="/usuario/procesarUsuario" enctype="multipart/form-data">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" required>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <label for="sexo" class="form-label">Sexo:</label>
                    <select class="form-select" id="sexo" name="sexo">
                        <option>Masculino</option>
                        <option>Femenino</option>
                        <option>Prefiero no cargarlo</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="pais" class="form-label">País:</label>
                    <input type="text" class="form-control" id="pais" name="pais" required>
                </div>
                <div class="mb-2">
                    <label for="ciudad" class="form-label">Ciudad:</label>
                    <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                </div>
                <div class="mb-2">
                    <label for="fecha_nac" class="form-label">Año de Nacimiento:</label>
                    <input type="number" class="form-control" id="fecha_nac" name="fecha_nac" required>
                </div>
                <div class="mb-2">
                    <label for="mail" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="mail" name="mail" required>
                </div>
                <div class="mb-2">
                    <label for="usuario" class="form-label">Nombre de Usuario:</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" required>
                </div>
                <div class="mb-2">
                    <label for="contrasena" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="contrasena" name="contrasena" required>
                </div>
                <div class="mb-2">
                    <label for="repetirContrasena" class="form-label">Repetir Contraseña:</label>
                    <input type="password" class="form-control" id="repetirContrasena" name="repetirContrasena" required>
                </div>
                <div class="mb-2">
                    <label for="imagen" class="form-label mt-2">Imagen de perfil:</label>
                    <div class="input-group mt-2">
                        <input type="file" class="form-control" id="foto_perfil" name="foto_perfil" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p><a href="/usuario/ingresar">¿Ya tenés cuenta? Ingresar</a></p>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</main>
